.footer {
  clear: both;
  overflow: hidden;
  #footer-inner-main {
    background-color: color(footer-bg);
    color: color(footer-text);
    padding: rhythm(3) 0;
    .outer-container {
      min-height: rhythm(12);
      position: relative;}
    nav {}
    .logo {
//      @include leader(3);
      //      float: right;
      img {
//        @include scale(.75);
//        @include transform-origin(0, 0);
      }
    }
    a {
      color: #FFFFFF;
      &:hover {
        text-decoration: none;
        color: #FFFFFF;
      }
    }

    @include breakpoint($breakpoint-desktop) {
      nav {
        float: left;
      }
      .logo {
        position: absolute;
        bottom: 0;
        right: 0;
      }

    }
  }
  #menu-footer {
    li {
      @include trailer(2);
    }
  }
  p.copyright {
    text-align: center;
    @include leader(2);
  }
}
